body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  background-color: black;
  min-height: 90px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 55px;
  margin-right: 10px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.logo img:hover {
  transform: translateY(-3px);
}

nav a {
  font-size: 15px;
  font-weight: 600;
  padding-right: 15px;
  padding-left: 15px;
}

nav a:hover {
  color: rgb(3, 188, 255);
}

.nombre_empresa {
  color: white;
}

.nombre_empresa:hover {
  color: rgb(3, 188, 255);
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.cabezera {
  background-color: black;
  display: flex;
  flex-direction: colum;
  align-items: center;
}

.search-bar {
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  padding: 5px 10px;
  margin-right: 15px;
}

.search-bar:focus-within {
  border: 2px solid rgb(3, 188, 255);
  box-shadow: 0px 2px 5px rgba(55, 9, 116, 0.2);
}

.search-bar input {
  border: none;
  background-color: black;
  outline: none;
  padding: 5px;
  font-size: 18px;
  flex: auto;
  color: white;
}

.search-bar .actions {
  display: flex;
  gap: 5px;
}

.search-bar .actions button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #999;
}

.search-bar .actions button:hover {
  color: rgb(3, 188, 255);
}

.conteiner {
  display: flex;
  justify-content: flex-end;
  height: 900px;
  background-image: url(../Imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.conteiner_inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50vw;
  gap: 40px;
}

.conteiner_inf_btns_btn1 {
  color: white;
  font-size: 15px;
  height: 60px;
  width: 220px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 14px #68cad1;
  -moz-box-shadow: 2px 3px 14px #68cad1;
  box-shadow: 1px 1px 5px #68cad1;
  text-shadow: 1px 1px 3px #666666;
  border: solid #1c9dd9 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#525bff), to(#03bcff));
  background: -moz-linear-gradient(top, #525bff, #03bcff);
  transition: transform 0.3s ease-in-out;
}

.conteiner_inf_btns_btn1:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#6c76f7), to(#5cd6ff));
  background: -moz-linear-gradient(top, #6c76f7, #5cd6ff);
  transform: translateY(-3px);
}

.conteiner_inf_btns_btn2 {
  color: white;
  font-size: 15px;
  height: 60px;
  width: 220px;
  border-radius: 10px;
  margin-right: 25px;
  margin-left: 25px;
  -webkit-box-shadow: 3px 2px 12px #52373f;
  -moz-box-shadow: 3px 2px 12px #52373f;
  box-shadow: 1px 1px 5px #52373f;
  text-shadow: 1px 1px 3px #666666;
  border: solid #422020 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#35261f), to(#634444));
  background: -moz-linear-gradient(top, #35261f, #634444);
  transition: transform 0.3s ease-in-out;
}

.conteiner_inf_btns_btn2:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#964c4c), to(#9e6a6a));
  background: -moz-linear-gradient(top, #964c4c, #9e6a6a);
  transform: translateY(-3px);
}

.conteiner_inf_btns {
  display: flex;
}

.conteiner_inf_txt1 {
  color: white;
  font-size: 75px;
  font-weight: 800;
  text-align: right;
  margin-right: 10px;
}

.conteiner_inf_txt2 {
  color: white;
  font-size: 28px;
  text-align: right;
  margin-right: 10px;
}

.conteinerdos {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 3px 2px 12px #52373f;
  -moz-box-shadow: 3px 2px 12px #52373f;
  box-shadow: 1px 1px 5px #52373f;
  text-shadow: 1px 1px 3px #666666;
  border: solid #422020 1px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#35261f), to(#634444));
  background: -moz-linear-gradient(top, #35261f, #634444);
  height: 100px;
  margin-top: 10px;
}

.conteinerdos span {
  font-size: 40px;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: transform 0.6s ease-in-out;
}

.conteinerdos span:hover {
  transform: translateY(-3px);
}

.conteinertres {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  margin-top: 1px;
  gap: 10px;
}

.conteinertres_cat1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 280px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(49, 29, 22, 0.2);
  text-align: center;
  font-size: 20px;
  gap: 20px;
}

.conteinertres_cat1:hover {
  border: 1px solid rgba(49, 29, 22, 0.3);
}

.conteinertres_cat1 img {
  width: 75px;
  transition: transform 0.2s ease-in-out;
}

.conteinertres_cat1 img:hover {
  transform: scale(1.1, 1.1);
}

.conteinertres_txt1 {
  margin: 25px 25px;
  text-align: center;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
}

.conteinertres_txt1_txt2 {
  margin: 25px 25px;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
}

.conteinercuatro {
  background-image: url("../Imagenes/fondo3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 5px 5px 35px rgb(69, 146, 233);
  overflow: hidden;
}

.conteinercuatro_titulo {
  margin-top: 5px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 420px;
  transition: 1s ease-in-out;
  color: white;
  text-align: center;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease-in-out;
}

.box:hover {
  transform: rotateY(180deg);
}

.box img {
  position: relative;
  margin: 10px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgb(245, 246, 250);
}

.cara1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to left, rgb(40, 65, 187), rgb(69, 146, 233)) 1;
}

.exp {
  padding: 0px 10px;
}

.titulo_maestro1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.cara2 {
  position: absolute;
  border: 4px solid white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.cara2 div {
  transform: translateZ(100px);
  background: linear-gradient(45deg, rgb(69, 146, 233), rgb(40, 65, 187));
  padding: 20px;
  margin: 0 30px;
  border-radius: 15px;
  backface-visibility: hidden;
}

.btn_cara2 {
  padding: 15px;
  background: none;
  color: white;
  border: 2px solid white;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;

}

.conteinercinco {
  height: 720px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.conteinercinco_video {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 605px;
  overflow: hidden;
}

.conteinercinco_video blockquote {
  box-shadow: 2px 2px 5px #1b1b1b;
  border-radius: 15px;
}

.conteinercinco_texto {
  background-color: black;
  display: flex;
  height: 570px;
  width: 800px;
  font-size: 40px;
  font-weight: 400;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px #1b1b1b;
  border-radius: 15px;
  gap: 20px;
  border: 1px solid rgba(3, 188, 255, 0.5);
}

.conteinercinco_texto img {
  height: 310px;
  width: auto;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(3, 188, 255, 0.5);
}

.conteinercinco_texto span {
  color: white;
  transition: transform 0.3s ease-in-out;
}

.conteinercinco_texto_inf_btns {
  display: flex;
  gap: -10px;
}

.conteinercinco_texto span:hover {
  transform: scale(1.05, 1.05);
}

.uno {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer1 {
  background-color: black;
  box-shadow: 2px 2px 20px rgba(35, 157, 215, 0.75);
  position: relative;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: 100%;
}

.footer1 a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
  text-align: center;
}

.footer1 a ion-icon {
  margin-left: 10px;
  font-size: 25px;
  color: white;
  transition: 0.3s ease-in-out;
}

.footer1 a ion-icon:hover {
  transform: translateY(-3px);
  color: rgb(35, 157, 215);
}

.footer1 .derechos {
  display: flex;
  margin-right: 10px;
  font-size: 15px;
  text-align: center;
}

.footer1 .desarrolador {
  color: rgb(35, 157, 215);
  font-weight: 500;
  font-size: 15px;
}

.footer1 a,
.footer1 .derechos,
.footer1 .desarrollador {
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  box-shadow: 2px 2px 20px rgba(35, 157, 215, 0.75);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  width: 100%;
}

footer a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
  text-align: center;
}

footer a ion-icon {
  margin-left: 10px;
  font-size: 25px;
  color: white;
  transition: 0.3s ease-in-out;
}

footer a ion-icon:hover {
  transform: translateY(-3px);
  color: rgb(35, 157, 215);
}

footer .derechos {
  display: flex;
  margin-right: 10px;
  font-size: 15px;
  text-align: center;
}

footer .desarrolador {
  color: rgb(35, 157, 215);
  font-weight: 500;
  font-size: 15px;
}

footer a,
footer .derechos,
footer .desarrollador {
  text-decoration: none;
  color: white;
}

.contactanos_body {
  background-image: url("../Imagenes/fondo2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contenedor_principal {
  color: white;
  text-align: center;
  height: 500px;
  padding: 50px;
  margin: 10px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.contenedor_principal h1 {
  letter-spacing: 1px;
  font-size: 40px;
}

.contenedor_principal span {
  letter-spacing: 1px;
  font-size: 14px;
}

.nombre {
  color: white;
  width: 800px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.nombre span {
  font-weight: 500;
  width: 100px;
}

.nombre input {
  color: white;
  height: 25px;
  width: 200px;
  border-radius: 5px;
  background: none;
  outline: hidden;
  border: 1px solid white;
}

.email {
  color: white;
  border-radius: 10px;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.email span {
  font-weight: 500;
  width: 100px;
}

.email input {
  color: white;
  height: 25px;
  width: 200px;
  border-radius: 5px;
  background: none;
  outline: hidden;
  border: 1px solid white;
}

.telefono {
  color: white;
  border-radius: 10px;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.telefono span {
  font-weight: 500;
  width: 100px;
}

.telefono input {
  color: white;
  height: 25px;
  width: 200px;
  border-radius: 5px;
  background: none;
  outline: hidden;
  border: 1px solid white;
}

.enviar_inf {
  border-radius: 10px;
  width: 800px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}



@media (max-width: 515px) {
  header {
    flex-direction: column;
  }

  header a {
    margin-top: 5px;
  }

  nav {
    padding: 10px 0px;
  }

  .nav-link {
    font-size: 14px;
  }

  .cabezera {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  .cabezera nav {
    margin-top: -40px;
    border-top: 1px solid white;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .search-bar {
    visibility: hidden;
  }

  .conteiner {
    height: 700px;
    background-position: left;
    justify-content: left;
  }

  .conteiner_inf_txt1 {
    font-size: 36px;
    text-align: left;
    margin-left: 10px;
    margin-top: -40px;
  }

  .conteiner_inf_txt2 {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
  }

  .conteiner_inf_btns {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-right: -25vw;
  }

  .conteiner_inf_btns_btn2 {
    margin-right: 0px;
    margin-left: 0px;
    height: 50px;
  }

  .conteiner_inf_btns_btn1 {
    height: 50px;
    margin-right: 0px;
  }

  .conteinerdos span {
    font-size: 30px;
  }

  .conteinertres_txt1 button {
    width: 300px;
  }

  .conteinercuatro_titulo {
    font-size: 30px;
  }

  .conteinercuatro {
    height: auto;
    padding: 20px;
  }

  .conteinercuatro_seccionmaestros {
    flex-direction: column;
    gap: 0px;
  }

  .conteinercuatro_maestros {

    height: 570px;
    width: 380px;
    border-radius: 20px;

  }

  .conteinercinco {
    margin-top: -40px;
    height: 1300px;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }

  .conteinercinco_texto {
    width: auto;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
  }

  .conteinercinco_texto_inf_btns {
    margin-right: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .conteinercinco_texto img {
    width: 360px;
  }

  .conteinercinco_texto span {
    font-size: 20px;
  }

  .conteinerseis {
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
  }

  .conteinerseis span {
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
  }

  .nombre_empresa {
    font-size: 17px;
  }
}